/**********************************************************************************************************************************
Global Content 
*/
/* ensuring no white spaces on the body */
body{
    margin: 0px;
    background-image:url('assets/global/background-ed-wingate-VufAlVMm60k-unsplash.jpg');
    background-size:cover;
}

/* The logo is glued to the top left of the page */
.logo {
    position: absolute;
    left: 0;
    top: 0;
}

/* Setting the size and adding a shadow around the picture to make it look blended with the website  */
.logo img {
    height: 120px;
    width: 240px;
    border-radius: 0 0 12px 0;
    box-shadow: 0 0 12px 24px #a5e1ec;
}

/* The title of every page is an h1 header */
h1 {
    padding-left: 24px;
    font-family: cursive;
    color: #fef300;
    text-shadow: 2px 2px 0px #fe0000, -2px -2px 0px #fe0000, 2px -2px 0px #fe0000, -2px 2px 0px #fe0000;
    font-size: 4em;
}

/* The font of every page should follow this scheme. */
p{
    font-size: 1.2em;
    color: black;
    /*text-shadow: 1px 1px 0px #fe0000, -1px -1px 0px #fe0000, 1px -1px 0px #fe0000, -1px 1px 0px #fe0000;*/
    font-family: cursive;
    line-height: 1.8;
}
li {
    font-size: 1.2em;
    color: black;
    /* text-shadow: 1px 1px 0px #fe0000, -1px -1px 0px #fe0000, 1px -1px 0px #fe0000, -1px 1px 0px #fe0000; */
    font-family: cursive;
}

/* The nav bar */
nav {
    display: flex;
    /* this makes sure the items wrap to the next line if not enough space is present on screen */
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

/* link list container  */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 12px 200px 12px 200px;
    list-style: none;
    gap: 56px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.2), 6px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px inset rgba(0, 0, 0, 0.2);
}

/* nav bar links */
.nav-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px 8px 24px;
    color: blue;
    font-family: cursive;
    font-size: 28px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: border-color .5s ease;
    transition: color .2s ease;
    border-radius: 18px;
}

.plan-trip-link{
    border: 2px solid;
    animation: borderColorChange 4s infinite;
}


/* nav bar links interaction when hovered over */
.nav-list li a:hover {
    color: #fef300;
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
}

/* the footer bar */
footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: left;
    background-color: gray;
    gap: 24px;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.2);
}

/* footer bar link */
footer a {
    padding: 12px 42px 12px 42px;
    background-color: #9F9F9F;
    color: blue;
    font-weight:bolder;
    font-family: cursive;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

/* footer bar links interaction when hovered over */
footer a:hover {
    color: purple;
    background-color: azure;
}
/* Global Content
****************/


/**********************************************************************************************************************************
Index page*/
/* the left side of the page */
.indexContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    margin-top: 24px;
}

/*container to ensure content isn't hugging the left of the website*/
.indexContainerChild{
    margin-left: 24px;
}

/* button link to signup page */
.button {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #1ADBD5;
    border: 4px solid transparent;
    border-radius: 12px;
    padding: 24px 48px;
    font-family: cursive;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    animation: borderColorChange 4s infinite;
    transition: border .5s ease;
    transition: color .2s ease;
}

@keyframes borderColorChange {
    0% {
        border-color: red;
    }

    25% {
        border-color: blue;
    }

    50% {
        border-color: green;
    }

    75% {
        border-color: yellow;
    }

    100% {
        border-color: red;
    }
}

.buttonContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 144px;
}

/* button link interaction when hovered over */
.button:hover {
    color: #fef300;
    border: 4px solid blue;
}
/*
Index page
*********/





/**********************************************************************************************************************************
Dining page*/
.grid-container-dining{
    display: grid;
    /* 2 columns with equal width */
    grid-template-columns: 1fr 1fr;
    /* 2 rows with auto height */
    grid-template-rows: auto auto;
    /* Optional: gap between grid items */
    gap: 100px;
    /* Optional: padding for the grid container */
    padding: 48px;
}

h3{
    color: #fef300;
    text-shadow: 1px 1px 0px #fe0000, -1px -1px 0px #fe0000, 1px -1px 0px #fe0000, -1px 1px 0px #fe0000;
    border-bottom: 2px solid #fef300;
    padding-bottom: 12px;
    width: 20%;
}
.dining-left-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 42px;
}

.dining-right-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 42px;
}
/* Dining Page
*************/


/**********************************************************************************************************************************
sign-up page*/
.signup-grid{
display: grid;
    width: 20%;
    /* 2 columns with equal width */
    grid-template-columns: 1fr 1fr;
    /* 2 rows with auto height */
    grid-template-rows: auto auto;
    /* Optional: gap between grid items */
    row-gap: 48px;
    column-gap: 12px;
    /* Optional: padding for the grid container */
    padding: 48px;
    margin-bottom: 90px;
    backdrop-filter: blur(1px);
    border-radius: 24px;
}

.info-label{
    font-size: 2em;
    color: #fef300;
    text-shadow: 1px 1px 0px #fe0000, -1px -1px 0px #fe0000, 1px -1px 0px #fe0000, -1px 1px 0px #fe0000;
    font-family: cursive;
    text-align: center;
}

.info-input{
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.radio-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-button{
    transform: scale(3);
    align-items: start;
}

.submit-button{
    padding: 24px;
    box-shadow: 2px 2px 2px #000000;
}
/* sign-up page
**************/

/**********************************************************************************************************************************
FAQ page*/
.faq-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.faq-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.8;
}

/* FAQ page
**************/

/**********************************************************************************************************************************
Citation page*/
.grid-container-citations {
    display: grid;
    /* 2 columns with equal width */
    grid-template-columns:1fr 1fr;
    /* 2 rows with auto height */
    grid-template-rows: auto auto;
    /* Optional: gap between grid items */
    gap: 100px;
    /* Optional: padding for the grid container */
    padding: 48px;
}

.grid-item{
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 24px;
    backdrop-filter: blur(10px);
}

.citationA{
    display: flex;
    width: 50%;
    margin-left: 24px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
    padding: 24px 0 24px 0;
    border: 4px solid;
    border-radius: 24px;
    animation: borderColorChange 2s infinite;
    text-decoration: none;
    font-size: 1.1em;
    color: #fef300;
    text-shadow: 1px 1px 0px #fe0000, -1px -1px 0px #fe0000, 1px -1px 0px #fe0000, -1px 1px 0px #fe0000;
    font-family: cursive;
    
}

.citation-image-container{
    width: 100%;
    height: 100%;
    max-height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.citation-img{
    width: 100%;
    height: 100%;
    border-radius: 0px 24px 24px 0;
    object-fit: cover;
    overflow: hidden;
    font-size: 48px;
    text-align: center;
    align-content: center;
    color: #fef300;
    text-shadow: 1px 1px 0px #fe0000, -1px -1px 0px #fe0000, 1px -1px 0px #fe0000, -1px 1px 0px #fe0000;
}

/* FAQ page
**************/
/**********************************************************************************************************************************
attractions page*/
/* a grid container with 2 columns and an auto amount of rows */
.grid-container-attractions {
    display: grid;
    /* 2 columns with equal width */
    grid-template-columns: 1fr 1fr;
    /* 2 rows with auto height */
    grid-template-rows: auto auto;
    /* Optional: gap between grid items */
    gap: 100px;
    /* Optional: padding for the grid container */
    padding: 48px;
    margin-bottom: 90px;
}

/* I'll use this to contain the images in */
.image-container {
    /* width of the box */
    width: 100%;
    /* height of the box */
    height: 100%;
    /* maximum height of the box */
    max-height: fit-content;
    /* hiding anything that flows outside the box */
    overflow: hidden;
    /* centering image */
    display: flex;
    /* horizontal centering */
    justify-content: center;
    /* vertical centering */
    align-items: center;
    /* bluring the background */
    backdrop-filter: blur(10px);
    border-radius: 24px;
    box-shadow: -6px 6px 6px #000000, 6px -6px 6px #000000;
}

.attraction-image {
    /* image will fill this much of the containers width */
    width: 60%;
    /* image will fill this much of the containers height */
    height: 80%;
    /* ensures the image covers the container proportionally */
    object-fit: cover;
    overflow: hidden;
    border-radius: 24px;
}

.attraction-info-container {
    backdrop-filter: blur(10px);
    border-radius: 24px;
    box-shadow: -6px 6px 6px #000000, 6px -6px 6px #000000;
    align-content: center;
    padding-left: 24px;
    padding-right: 24px;
}

/*
attractions page
***************/